@import "tailwindcss";



@theme {
    --font-custome: "Roboto", "sans-serif";
    --font-poppins: "Poppins", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-lora: "Lora", serif;
    --font-oswald: "Oswald", sans-serif;
    --font-playfair: "Playfair Display", serif;
    --font-open-sans: "Open Sans", sans-serif;
    --font-merriweather: "Merriweather", serif;
    --font-nunito: "Nunito", sans-serif;
    --font-raleway: "Raleway", sans-serif;
  }